/bin/
/.classpath
/.project
/CREDITS-fml.txt
/Forge Setup part 1.bat
/Forge Setup part 2.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/build.gradle
/forge-1.7.2-10.12.2.1147-changelog.txt
/gradlew
/gradlew.bat
/.gradle/
/.settings/
/eclipse/
/gradle/
